*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/
*.iml
/bin/
api
exportToHTML/
src/it/resources/
src/main/scala/com/phasmid/laScala/oldtree/
src/main/scala/com/phasmid/laScala/tree/MyOrdering.scala
src/main/scala/com/phasmid/laScala/tree/OrderedList.scala
src/main/scala/com/phasmid/laScala/tree2/
src/test/resources/com/phasmid/laScala/tree/exampleTree.txt
src/test/scala-2.10/
src/test/scala/com/phasmid/laScala/oldtree/
src/test/scala/com/phasmid/laScala/values/MonoidSpec.scala
project/project/
!/project/plugins.sbt
